VITE_SUPABASE_URL=https://vuzxubiscimbhdtcuqky.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1enh1YmlzY2ltYmhkdGN1cWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MjI4MzQsImV4cCI6MjEwMjE5ODgzNH0.KY8WnL5Et1BjjjNWdgFocbASSCkOhV2luM2py01dmkU
